[submodule "codes/oc"]
	path = codes/oc
	url = git@github.com:Draconis98/opencompass.git
[submodule "codes/peft"]
	path = codes/peft
	url = git@github.com:Draconis98/peft.git
	branch = patch-release-0.13.2
